.btn__primary {
    background-color: var(--primary-600);
    border: .1rem solid var(--primary-600);
    color: var(--white-950);
    padding: 1.2rem 2rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 600;
    outline: 0;
    @include inline-flex-center;
    gap: .8rem;
    transition: all .15s ease;
    white-space: nowrap;
    &:hover {
        background-color: var(--primary-700);
        color: var(--white-950);
    }
}
.btn__secondary {
    border: .1rem solid var(--slate-800);
    color: var(--black-950);
    padding: 1.2rem 2rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 600;
    @include inline-flex-center;
    gap: .8rem;
    transition: all .15s ease;
    background-color: var(--white-950);
    white-space: nowrap;
}
.notification-bell-icon {
    @include dimension(4rem, 4rem);
    @include flex-center;
    border: 0;
    background-color: transparent;
    position: relative;
    color: var(--slate-500);
    .count {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--error-500);
        font-size: 1rem;
        font-weight: 500;
        color: var(--white-950);
        border-radius: 1rem;
        padding: .1rem .5rem;
        text-align: center;
    }
}

.btn__primary__lightpill{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-600);
    font-weight: 600;
    gap: .4rem;
    padding: .6rem 1rem;
    background: var(--primary-50);
    border-radius: 5rem;
    transition: all .3s ease;
    &:hover{
        color: var(--primary-600);
        background: var(--primary-100);
    }
}

// Link text
.text__primary {
    color: var(--primary-600)
}
.text-black{
    color: var(--slate-950);
}
.color_active{
    color: #4FB059;
}
